.help5050 {
  font-family: Conduit-ITC;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #4482c7;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  overflow: hidden;
}

.font-on-drawer {
  font-size: 2rem;
}

.font-on-question {
  font-size: 1.2rem;
}

#help {
  width: 30%;
  position: relative;
}

.cross {
  position: absolute;
  top: 50%;
  width: 70%;
  left: 15%;
}

#left {
  transform: rotate(30deg);
}

#right {
  transform: rotate(-30deg);
}

.help-activated {
  border-bottom: 5px solid red;
}

.help-to-activate {
  display: none;
}

@media screen and (max-width: 400px) {
  .font-on-drawer {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1200px) {
  .font-on-drawer {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1000px) {
  .font-on-drawer {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .font-on-drawer {
    font-size: 0.8rem;
  }
}