#help {
  position: relative;
  height: 70%;
  width: 30%;
  margin-left: 10px;
  margin-right: 10px;
}

.cross {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 2%;
}

#left {
  transform: rotate(30deg);
}

#right {
  transform: rotate(-30deg);
}

.help-activated {
  border-bottom: 5px solid red;
}

.help-to-activate {
  display: none;
}
