#circle {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: 50%;
  transition: 0.2s top linear;
}

.about-not-selected {
  top: 90%;
}

.about-selected {
  top: 60%;
}

.about-hidden {
  top: 100%;
}

@media screen and (max-height: 600px) {
  .about-selected {
    top: 50%;
  }
}
