.drawer-button {
  position: absolute;
  top: 40%;
  right: 5%;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
  overflow: hidden;
}

.bar-button1 {
  position: absolute;
  border-bottom: 5px solid white;
  width: 35%;
  left: 35%;
  transition: 0.5s all;
  opacity: 1;
}

 #bar1 {
  position: absolute;
  transform-origin: left;
  transform: rotate(-35deg);
  top: 48%;
}

 #bar2 {
  transform-origin: left;
  transform: rotate(35deg);
  bottom: 48%;
}

.bar-button2 {
    position: absolute;
    border-bottom: 5px solid white;
    width: 35%;
    left: -40%;
    transition: 0.5s all;
    opacity: 0;
  }
  
   #bar3 {
    position: absolute;
    transform-origin: right;
    transform: rotate(-35deg);
    top: 48%;
  }
  
   #bar4 {
    transform-origin: right;
    transform: rotate(35deg);
    bottom: 49%;
  }

  .drawer-button:hover .bar-button1 {
    left: 135%;
    opacity: 0;
  }

  .drawer-button:hover .bar-button2 {
    left: 35%;
    opacity: 1;
  }