
#component {
width: 100%;
}

#question-line {
  width: 100%;
  display: flex;
  align-items: center;
  height: 3rem;
}

#question {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  background-color: #032f82;
  color: white;
  margin-bottom: 2px;
  width: 100%;
  text-align: center;
  transition: all 1s;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-left: 1.5rem solid #032f82;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-right: 1.5rem solid #032f82;
}
