#start-line {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  position: absolute;
  transition: 0.5s all;
  width: 50%;
  cursor: pointer;
}

.start-hidden {
  bottom: -50%;
}

.start-show {
  bottom: 10%;
}

.start-game-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  height: 7rem;
  font-size: 3rem;
  color: white;

  width: 100%;
  border-bottom: #708fbf 0.5rem solid;
  border-top: #708fbf 0.5rem solid;
}

.arrow-right-start {
  width: 0;
  height: 0;
  border-top: 4rem solid transparent;
  border-bottom: 4rem solid transparent;
  border-left: 4rem solid #708fbf;
  position: relative;
}

.arrow-right-start:before {
  content: "";
  width: 0;
  height: 0;
  left: -4rem;
  top: -3.5rem;
  border-top: 3.5rem solid transparent;
  border-bottom: 3.5rem solid transparent;
  border-left: 3.5rem solid black;
  position: absolute;
}

.arrow-left-start {
  width: 0;
  height: 0;
  border-top: 4rem solid transparent;
  border-bottom: 4rem solid transparent;
  border-right: 4rem solid #708fbf;
  position: relative;
}

.arrow-left-start:before {
  content: "";
  width: 0;
  height: 0;
  right: -4rem;
  top: -3.5rem;
  border-top: 3.5rem solid transparent;
  border-bottom: 3.5rem solid transparent;
  border-right: 3.5rem solid black;
  position: absolute;
}

#lines {
  display: flex;
  align-items: center;
  position: absolute;
  border-bottom: #708fbf;
  height: 50%;
  width: 500px;
}
