#start-line {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  position: absolute;
  transition: 0.5s all;
  width: 50%;
  cursor: pointer;
}

.start-hidden {
  bottom: -50%;
}

.start-show {
  bottom: 20%;
}

.start-game-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  height: 5rem;
  font-size: 3rem;
  color: white;

  width: 100%;
  border-bottom: #708fbf 0.5rem solid;
  border-top: #708fbf 0.5rem solid;
}

.arrow-right-start {
  width: 0;
  height: 0;
  border-top: 3rem solid transparent;
  border-bottom: 3rem solid transparent;
  border-left: 3rem solid #708fbf;
  position: relative;
}

.arrow-right-start:before {
  content: "";
  width: 0;
  height: 0;
  left: -3rem;
  top: -2.5rem;
  border-top: 2.5rem solid transparent;
  border-bottom: 2.5rem solid transparent;
  border-left: 2.5rem solid black;
  position: absolute;
}

.arrow-left-start {
  width: 0;
  height: 0;
  border-top: 3rem solid transparent;
  border-bottom: 3rem solid transparent;
  border-right: 3rem solid #708fbf;
  position: relative;
}

.arrow-left-start:before {
  content: "";
  width: 0;
  height: 0;
  right: -3rem;
  top: -2.5rem;
  border-top: 2.5rem solid transparent;
  border-bottom: 2.5rem solid transparent;
  border-right: 2.5rem solid black;
  position: absolute;
}

#lines {
  display: flex;
  align-items: center;
  position: absolute;
  border-bottom: #708fbf;
  height: 50%;
  width: 500px;
}
