.principal-screen {
  font-family: sans-serif;
  text-align: center;
  background-color: #425ca9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#start-line {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  position: absolute;
  bottom: 20%;
  transition: 0.5s all;
  width: 50%;
}

.start-hidden {
  bottom: -20%;
}

.start-show {
  bottom: 20%;
}

.start-game-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #032f82;
  height: 100%;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  width: 100%;
}

.arrow-right-start {
  width: 0;
  height: 0;
  border-top: 4rem solid transparent;
  border-bottom: 4rem solid transparent;
  border-left: 4rem solid #032f82;
}

.arrow-left-start {
  width: 0;
  height: 0;
  border-top: 4rem solid transparent;
  border-bottom: 4rem solid transparent;
  border-right: 4rem solid #032f82;
}

.questions-show {
  top: 50%;
}

.questions-hidden {
  top: 100%;
}

.question-screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: 0.5s all;
}

#question-line {
  width: 80%;
  display: flex;
  align-items: center;
  height: 3rem;
}

#question {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  background-color: #032f82;
  color: white;
  margin-bottom: 2px;
  width: 100%;
  text-align: center;
  transition: all 1s;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-left: 1.5rem solid #032f82;
  margin-bottom: 2px;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-right: 1.5rem solid #032f82;
}

#answers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}

.answer {
  width: 50%;
  height: 1.5rem;
  cursor: pointer;
  background-color: #032f82;
  color: white;
  cursor: pointer;
  margin-bottom: 2px;
}

.answer:hover {
  background-color: #f98700;
  color: black;
}

.answered {
  width: 50%;
  height: 1.5rem;
  cursor: pointer;
  background-color: #f98700;
  color: black;
  cursor: pointer;
  margin-bottom: 2px;
}

#wwtbm-logo {
  width: 400px;
  height: 400px;
  background-image: url("Images/who-wants-to-be-a-millionaire-logo-png-transparent.png");
}

.message-screen {
  position: absolute;
  width: 100%;
  transition: 0.5s all;
}

.show-message {
  top: 50%;
}

.hidden-message {
  top: 100%;
}
