.principal-screen {
  font-family: sans-serif;
  text-align: center;
  background-color: #425ca9;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  position: relative;
}

#question-screen {
  position: absolute;
  /* top: 80%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

#question-line{
  width: 80%;
  display: flex;
  align-items: center;
  height: 3rem;
}

#question {
  line-height: 3rem; 
  background-color: #032f82;
  color: white;
  margin-bottom: 2px;
  width: 100%;
  text-align: center;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-left: 1.5rem solid #032f82;
  margin-bottom: 2px;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-right: 1.5rem solid #032f82;
}

#answers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}

.answer {
  width: 50%;
  height: 1.5rem;
  cursor: pointer;
  background-color: #032f82;
  color: white;
  cursor: pointer;
  margin-bottom: 2px;
}

.answer:hover {
  background-color: #f98700;
  color: black;
}

.answered {
  width: 50%;
  height: 1.5rem;
  cursor: pointer;
  background-color: #f98700;
  color: black;
  cursor: pointer;
  margin-bottom: 2px;
}

.questions-hidden {
  top: 150%;
}

.question-show {
  top: 60%;
}

.message-hidden {
  top: 150%;
}

#wwtbm-logo {
  width: 400px;
  height: 400px;
  background-image: url('Images/who-wants-to-be-a-millionaire-logo-png-transparent.png');
}