@font-face {
  font-family: "Conduit-ITC";
  src: local("Conduit-ITC"), url(./fonts/Conduit_ITC_Light.ttf),
    format("truetype");
}

@font-face {
  font-family: "Copperplate-Gothic-Condensed";
  src: local("Copperplate-Gothic-Condensed"),
    url(./fonts/Copperplate_Gothic_Condensed_Regular.otf), format("truetype");
}

@font-face {
  font-family: "Copperplate_Gothic_Regular";
  src: local("Copperplate_Gothic_Regular"),
    url(./fonts/Copperplate_Gothic_Regular.otf), format("truetype");
}

body {
  margin: 0;
}

.App {
  display: flex;
  height: 100vh;
  width: 100%;
}

.principal-screen {
  position: relative;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  left: 0;
  overflow: hidden;
  transition: 0.5s all;
}

.principal-screen-startGame {
  background-color: #0f1d46;
}

.principal-screen-game {
  background-image: url("https://cdn2.softswiss.net/spinia/b/quickfire/MGS_Millionaire.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.principal-screen-small {
  margin-right: 20%;
  transition: 0.5s all;
}

.principal-screen-big {
  left: 0;
  margin-right: 0;
}

.drawer-screen {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  transition: 0.5s all;
}

.drawer-screen-hidden {
  right: -20%;
}

.drawer-screen-showing {
  right: 0;
}

.questions-show {
  bottom: 10%;
}

.questions-hidden {
  bottom: -50%;
}

.questions-hidden-helps {
  bottom: 30%;
  opacity: 0;
}

.question-screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s all;
  width: 80%;
}

#image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("components/Images/DrawerImage.png");
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  z-index: 0;
}

.helps {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 100%;
  margin-top: 10%;
  z-index: 1;
}

.helps-showing {
  position: absolute;
  bottom: 100%;
  left: 0;
  transition: 0.5s all;
}

.helps-hidden {
  position: absolute;
  bottom: 100%;
  left: -1500px;
  transition: 0.5s all;
}

#question-pyramid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 30rem;
  width: 80%;
  margin-top: 30px;
  z-index: 1;
}

@media screen and (max-width: 450px) {
  .questions-show {
    bottom: 1%;
  }

  .question-screen {
    width: 90%;
  }

  .drawer-screen {
    width: 70%;
  }

  .drawer-screen-hidden {
    right: -70%;
  }

  .principal-screen-small {
    margin-right: 0;
    transition: 0.5s all;
    left: -70%;
  }

  #question-pyramid {
    margin-top: 15px;
  }
}
